@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#jupiter_menumode{
    position: absolute;
    border-radius: 50%;
    width: 20.833333333333332vw;
    height: 20.833333333333332vw;
    right: 27%;
    box-shadow: 0.3472222222222222vw 0.3472222222222222vw  1.0416666666666667vw 0.3472222222222222vw rgba(255,255,255,0.08);
    background-position: center;
    @media (max-width: 575px){
        //모바일 세로
        top: 81vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-mobile2.jpg');

    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 17vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-demo.jpeg');
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 12vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-demo.jpeg');
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 51vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-demo.jpeg');
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 27vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-demo.jpeg');

    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 16vw;
        background-image: radial-gradient(circle 20.833333333333332vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.8)), radial-gradient(circle 180px at 90px 80px, rgba(255,255,255,.5), rgba(0,0,0,0)),
        url('/images/jupiter-demo.jpeg');
        
    }
}

//사라지고 나타나는 애니메이션 페이지
#jupiter_menumode[pagenumber="1"]{
    animation: disappear 2s 1;

}

#jupiter_menumode[pagenumber="-1"]{
    animation: appear 3s 1;

}
#jupiter_menumode:hover{
    transform: scale(1.08);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: #876464;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 1.5%;
    margin-bottom: 1%;
    visibility: hidden;
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: visible;
    }
}
    .p{
        font-size: 16px;
        
    }

    #Modal{
        font-family: 'SDSamliphopangche_Outline';
        color: black;
        text-align: center;
        justify-content: center;
    }
    
//세로 모달
@media (orientation:portrait){
    #Carousel{
        height: 80vh;
        width: 100%;
    }
    //모바일
    @media (max-width:767px){
        .Modal_Header{
            font-size: 1.3888888888888888vh;
            background-color: black;
            color: #876464;
            border: #876464 2px solid;
        }
        .Modal_Title{
            font-size: 4.0833333333333335vw;
        }
        .Modal_Body{
            background-color: black;
            color: white;
            border: #876464 1px solid;
        }
    }
    //태블릿
    @media (min-width:768px){
        .Modal_Header{
            margin-left: -8vh;
            margin-right: -8vh;
            font-size: 1.3888888888888888vh;
            background-color: black;
            color: #876464;
            border: #876464 2px solid;
        }
        .Modal_Title{
            font-size: 4.0833333333333335vw;
        }
        .Modal_Body{
            margin-left: -8vh;
            margin-right: -8vh;
            background-color: black;
            color: white;
            border: #876464 1px solid;
        }
    }
}
//가로 모달
@media (orientation:landscape){
    #Carousel{
        height: 70vh;
        width: 100%;
    }
    .Modal_Header{
        font-size: 20px;
        background-color: black;
        color: #876464;
        border: #876464 2px solid;
     }
    .Modal_Title{
        font-size: 4.0833333333333335vh;
    }
    .Modal_Body{
        background-color: black;
        color: white;
        border: #876464 1px solid;
    }
}   
//물체 사라지는 애니메이션
@keyframes disappear {
    from {
        opacity: 1;
        scale: 1;
      }
      to {
        opacity: 0;
        scale: 0.2;
      }
}     
//물체 다시 나타나는 애니메이션
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.2;
      }
      to {
        opacity: 1;
        scale: 1;
      }
}

//컨텐츠 크기 조절
@media (max-width: 575px){
    //모바일 세로
    .contentsRow{
        margin-bottom: 11vh;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #longimage{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 80px;
            }
            #longimage2{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 50px;
            }
            #contentimage{
                object-fit: contain;
                background-color: darkgray;
                width: 350px;
                height: 150px;
                margin-left: -5px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-left: -5px;
            }
        .contenttext{
            font-size: 7px;
            text-align: center;
            margin: auto 0;
            margin-top: 3vw;
            margin-left: -5px;
            margin-bottom: 2vw;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 14px;
        }
}

@media (min-width: 576px) and (max-width: 767px){
    //모바일 가로
    .contentsRow{
        margin-bottom: 2vh;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #longimage{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 40px;
            }
            #longimage2{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 30px;
            }
            #contentimage{
                object-fit: contain;
                background-color: darkgray;
                width: 250px;
                height: 80px;
                margin-left: -5px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-left: -5px;
            }
        .contenttext{
            font-size: 7px;
            text-align: center;
            margin: auto 0;
            margin-left: -5px;
            margin-bottom: 1vw;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 14px;
        }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    // 큰 모바일 가로
    .contentsRow{
        margin-bottom: 6vh;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #longimage{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 80px;
            }
            #longimage2{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 50px;
            }
            #contentimage{
                object-fit: contain;
                background-color: darkgray;
                width: 250px;
                height: 110px;
                margin-left: -5px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-left: -5px;
            }
        .contenttext{
            font-size: 7px;
            text-align: center;
            margin: auto 0;
            margin-top: 1vw;
            margin-left: -5px;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 14px;
        }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    // 테블릿 세로
    .contentsRow{
        margin-bottom: 16vh;
}
    .contentimageCol{
        margin: auto 0;
        font-size: 20px;
    }
        #longimage{
            object-fit: contain;
            background-color: darkgray;
            width: 100%;
            height: 130px;
        }
        #longimage2{
            object-fit: contain;
            background-color: darkgray;
            width: 100%;
            height: 100px;
        }
        #contentimage{
            object-fit: contain;
            background-color: darkgray;
            width: 350px;
            height: 250px;
        }
        .contentimage_icon{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    .contenttext{
        font-size: 17px;
        text-align: center;
        margin: auto 0;
        font-family: 'IM_Hyemin-Bold';
    }
    .span{
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    // 테블릿 가로
    .contentsRow{
        margin-bottom: 11vh;
}
    .contentimageCol{
        margin: auto 0;
        font-size: 20px;
    }
        #longimage{
            object-fit: contain;
            background-color: darkgray;
            width: 100%;
            height: 9vw;
        }
        #longimage2{
            object-fit: contain;
            background-color: darkgray;
            width: 100%;
            height: 4vw;
        }
        #contentimage{
            object-fit: contain;
            background-color: darkgray;
            width: 350px;
            height: 200px;
        }
        .contentimage_icon{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    .contenttext{
        font-size: 17px;
        text-align: center;
        margin: auto 0;
        font-family: 'IM_Hyemin-Bold';
    }
    .span{
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    // 데스크탑 일반
    .contentsRow{
            margin-bottom: 4vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #longimage{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 9vw;
            }
            #longimage2{
                object-fit: contain;
                background-color: darkgray;
                width: 100%;
                height: 4vw;
            }
            #contentimage{
                object-fit: contain;
                background-color: darkgray;
                width: 25vw;
                height: 15vw;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        .contenttext{
            font-size: 17px;
            text-align: center;
            margin: auto 0;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 24px;
        }
    
}