@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mars_menumode{
    position: absolute;
    border-radius: 50%;
    width: 5.555555555555555vw;
    height: 5.555555555555555vw;
    right: 53%;
    box-shadow: 0.3472222222222222vw 0.3472222222222222vw  1.0416666666666667vw 0.3472222222222222vw rgba(255,255,255,0.08);
    background-image: radial-gradient(circle 5.555555555555555vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.65)), radial-gradient(circle 12.5vw at 6.25vw 5.555555555555555vw, rgba(255,255,255,.1), rgba(0,0,0,0)),
    url('/images/mars-170.jpg');
    background-position: center;
    @media (max-width: 575px){
        //모바일 세로
        top: 88.7vw;
    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 23.7vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 18.7vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 58.7vw;
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 33.7vw;

    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 22.7vw;
    }
}
//사라지고 나타나는 애니메이션 페이지
#mars_menumode[pagenumber="1"]{
    animation: disappear 2s 1;

}

#mars_menumode[pagenumber="-1"]{
    animation: appear 3s 1;

}

#mars_menumode:hover{
    transform: scale(1.15);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: #c3195d;
    font-size: 22px;
    font-weight: bold;
    padding-top: 1.5%;
    margin-top: 1%;
    visibility: hidden;
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: visible;
    }
}
    .p{
        font-size: 16px;
    }

    #Modal{
        font-family: 'SDSamliphopangche_Outline';
        color: black;
        text-align: center;
        justify-content: center;
    }

//세로 모달
@media (orientation:portrait){
    #Carousel{
        height: 80vh;
        width: 100%;
    }
    
    //모바일
    @media (max-width:767px){
        .Modal_Header{
            font-size: 1.3888888888888888vh;
            background-color: black;
            color: #c3195d;
            border: #c3195d 2px solid;
        }
        .Modal_Title{
            font-size: 4.0833333333333335vw;
        }
        .Modal_Body{
            background-color: black;
            color: white;
            border: #c3195d 1px solid;
        }
    }
    //태블릿
    @media (min-width:768px){
        .Modal_Header{
            margin-left: -8vh;
            margin-right: -8vh;
            font-size: 1.3888888888888888vh;
            background-color: black;
            color: #c3195d;
            border: #c3195d 2px solid;
        }
        .Modal_Title{
            font-size: 4.0833333333333335vw;
        }
        .Modal_Body{
            margin-left: -8vh;
            margin-right: -8vh;
            background-color: black;
            color: white;
            border: #c3195d 1px solid;
        }
    }
}
//가로 모달
@media (orientation:landscape){
    #Carousel{
        height: 70vh;
        width: 100%;
    }

    .Modal_Header{
        font-size: 20px;
        background-color: black;
        color: #c3195d;
        border: #c3195d 2px solid;
     }
    .Modal_Title{
        font-size: 4.0833333333333335vh;
    }
    .Modal_Body{
        background-color: black;
        color: white;
        border: #c3195d 1px solid;
    }
}       

//컨텐츠 크기 조절
@media (max-width: 575px){
    //모바일 세로
    .contentsRow{
        margin-bottom: 3vh;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #contentimage{
                width: 350px;
                height: 150px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-left: -5px;
            }
        .contenttext{
            font-size: 7px;
            text-align: center;
            margin: auto 0;
            margin-top: 5vw;
           margin-left: 0px;
           margin-bottom: 3vw;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 14px;
        }
}

@media (min-width: 576px) and (max-width: 767px){
    //모바일 가로
    .contentsRow{
        margin-bottom: 5vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 15px;
        }
            #contentimage{
                width: 250px;
                height: 110px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
            }
        .contenttext{
            margin-top: 2px;
            font-size: 8px;
            text-align: center;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 10px;
        }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    // 큰 모바일 가로
    .contentsRow{
        margin-bottom: 5vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 15px;
        }
            #contentimage{
                width: 250px;
                height: 110px;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
            }
        .contenttext{
            margin-top: 2px;
            font-size: 8px;
            text-align: center;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 10px;
        }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    // 테블릿 세로
    .contentsRow{
        margin-bottom: 25vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 15px;
        }
            #contentimage{
                width: 350px;
                height: 310px;
            }
            .contentimage_icon{
                width: 35px;
                height: 35px;
            }
        .contenttext{
            margin: auto 0;
            font-size: 20px;
            text-align: center;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 25px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    // 테블릿 가로
    .contentsRow{
        margin-bottom: 5vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 15px;
        }
            #contentimage{
                width: 350px;
                height: 210px;
            }
            .contentimage_icon{
                width: 35px;
                height: 35px;
            }
        .contenttext{
            margin: auto 0;
            font-size: 20px;
            text-align: center;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 25px;
        }
}

@media (min-width: 1200px) {
    // 데스크탑 일반
    .contentsRow{
            margin-bottom: 4vw;
    }
        .contentimageCol{
            margin: auto 0;
            font-size: 20px;
        }
            #contentimage{
                width: 25vw;
                height: 15vw;
            }
            .contentimage_icon{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        .contenttext{
            font-size: 17px;
            text-align: center;
            margin: auto 0;
            font-family: 'IM_Hyemin-Bold';
        }
        .span{
            font-size: 24px;
        }
    
}
////////////////////////////////////////////애니메이션///////////////////////////////////////////////////////
//물체 사라지는 애니메이션
@keyframes disappear {
    from {
        opacity: 1;
        scale: 1;
      }
      to {
        opacity: 0;
        scale: 0.2;
      }
}     
//물체 다시 나타나는 애니메이션
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.2;
      }
      to {
        opacity: 1;
        scale: 1;
      }
}    