@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mercury_menumode{
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 45%;
    right: 83%;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.15),
    inset 5px 0 10px 3px rgba(0,0,0,0.9),
    inset -10px 0 5px 1px rgba(255,255,255,0);
    background-image: url('/images/mercury-100.jpg');
    background-position: center;
}

#mercury_menumode:hover{
    transform: scale(1.15);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: red;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5%;
}
    .p{
        font-size: 18px;
    }