@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mercury_menumode{
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 45%;
    right: 83%;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.15),
    inset 5px 0 10px 3px rgba(0,0,0,0.9),
    inset -10px 0 5px 1px rgba(255,255,255,0);
    background-image: url('/images/mercury-100.jpg');
    background-image: 100%;
    background-position: center;
}

#mercury_menumode:hover{
    transform: scale(1.15);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: gray;
    font-size: 3.045066991473812vh;
    font-weight: bold;
    padding-bottom: 1.5%;
    margin-bottom: 1%;
}
    .p{
        font-size: 1.94884287454324vh;
        
    }

#Modal{
    font-family: 'SDSamliphopangche_Outline';
    color: black;
    text-align: center;
    justify-content: center;
}

    .Modal_Header{
       font-size: 2.43605359317905vh;
       background-color: black;
       color: white;
       border: white 0.243605359317905vh solid;
    }

    .Modal_Title{
        font-size: 3.6540803897685747vh;
        
    }

    .Modal_Body{
       background-color: black;
       color: white;
       border: white 0.1218026796589525vh solid;

    }

#Carousel{
    height: 60.90133982947625vh;
}
    .text{
        font-family: 'IM_Hyemin-Bold';
    }
#aboutMesecond{
    height: 18.270401948842874vh;
    border-right: white 0.06090133982947625vh solid;
    margin-right: 0.6090133982947625vh;
    border-radius: 50%;
    

}
    .icon_Row{
        margin-top: 0.6090133982947625vh;
        height: 40%;
    }

    .text_Row{
        font-size: 2.43605359317905vh;
        height: 60%;
        text-align: center;
        justify-content: center;
        font-family: 'IM_Hyemin-Bold';
    }

    .text_Row_email{
        font-size: 2.192448233861145vh;
        height: 60%;
        text-align: center;
        justify-content: center;
        font-family: 'IM_Hyemin-Bold';
        
    }
    
.icon{
    fill:white;
}
    .iconLeft{
        text-align: right;
    }

    .iconRight{
        font-size: 2.679658952496955vh;
        text-align: left;
        margin-left: -1.8270401948842874vh;
    }

    .iconLeft_three{
        text-align: right;
        flex: 45%
    }
    .iconRight_three{
        font-size: 2.679658952496955vh;
        text-align: left;
        margin-left: -1.8270401948842874vh;
        flex:55%
    }
