@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mercury_menumode{
    position: absolute;
    width: 2.7777777777777777vw;
    height: 2.7777777777777777vw;
    border-radius: 50%;
    right: 83%;
    box-shadow: 0.3472222222222222vw 0.3472222222222222vw  1.0416666666666667vw 0.3472222222222222vw rgba(255,255,255,0.08);
    background-image: radial-gradient(circle 2.7777777777777777vw at 0 0, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.65)), radial-gradient(circle 12.5vw at 6.25vw 5.555555555555555vw, rgba(255,255,255,.1), rgba(0,0,0,0)), 
    url('/images/mercury-100.jpg');
    background-image: 100%;
    background-position: center;

    @media (max-width: 575px){
        //모바일 세로
        top: 90vw;
    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 25vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 20vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 60vw;
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 35vw;

    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 24vw;
    }
}
//사라지고 나타나는 애니메이션 페이지
#mercury_menumode[pagenumber="1"]{
    animation: disappear 2s 1;

}

#mercury_menumode[pagenumber="-1"]{
    animation: appear 3s 1;

}
#mercury_menumode:hover{
    transform: scale(1.15);
    transition: transform 2s;
    cursor: pointer;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: gray;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 1.5%;
    margin-bottom: 1%;
    visibility: hidden;
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: visible;
    }
}
    .p{
        font-size: 16px;
        
    }


#Modal{
    font-family: 'SDSamliphopangche_Outline';
    color: black;
    text-align: center;
    justify-content: center;
}    
//세로 모달
@media (orientation:portrait){
    //모바일
    @media (max-width:767px){
    .Modal_Header{
       font-size: 1.3888888888888888vh;
       background-color: black;
       color: white;
       border: white 2px solid;

    }
    .Modal_Title{
        font-size: 4.0833333333333335vw;
    }
    .Modal_Body{
       background-color: black;
       color: white;
       border: white 1px solid;
       font-size: 2.5vh;

       h3{
        font-size: 3vh;
        }

        p{
            font-size: 2vh;
            font-family: 'IM_Hyemin-Bold';

        }

        .tag{
            font-family: 'IM_Hyemin-Bold';
            font-size: 2.3vh;
            text-decoration: underline;
            text-underline-offset: 5px;
        }

    }
    }
    //태블릿
    @media (min-width:768px){
        .Modal_Header{
            margin-left: -8vh;
            margin-right: -8vh;
            font-size: 1.3888888888888888vh;
            background-color: black;
            color: white;
            border: white 2px solid;
    
        }
        .Modal_Title{
            font-size: 4.0833333333333335vw;
        }
        .Modal_Body{
            margin-left: -8vh;
            margin-right: -8vh;
           background-color: black;
           color: white;
           border: white 1px solid;
           font-size: 2.5vh;

           h3{
            font-size: 3.5vh;
            }
    
            p{
                font-size: 2.5vh;
                font-family: 'IM_Hyemin-Bold';
    
            }
    
            .tag{
                font-family: 'IM_Hyemin-Bold';
                font-size: 3vh;
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
        }
#Carousel{
    height: 80vh;
    width: 100%;

}
    #circleRow{
        margin-bottom: 3vh;
    }   

        #circle{
            padding-top: 3.2vh;
            height: 18vh;
            width:  5vh;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
            border-right: white 0.5px solid;
            margin-right: 0.3472222222222222vw;
            border-radius: 50%;
        }
            .icon{
                // background-color: white;
                // border-radius: 50%;
                width: 5.5833333333333335vw;
                height: 5.5833333333333335vw;
            }
            
            span{
                margin-left: 1vh;
                font-family: 'SDSamliphopangche_Outline';
                font-size: 4vw;
            }

            h4{
                margin-top: 2vh;
                font-family: 'IM_Hyemin-Bold';
                font-size: 3vw;
            }
        
}

//가로 모달
@media (orientation:landscape){
    .Modal_Header{
        font-size: 20px;
        background-color: black;
        color: white;
        border: white 2px solid;
    }
    .Modal_Title{
        font-size: 4.0833333333333335vh;
    }
    .Modal_Body{
        background-color: black;
        color: white;
        border: white 1px solid;
        font-size: 2.5vh;

        h3{
        font-size: 4vh;
        }

        p{
            font-size: 2.7vh;
            font-family: 'IM_Hyemin-Bold';

        }

        .tag{
            font-family: 'IM_Hyemin-Bold';
            font-size: 3vh;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
    #Carousel{
        height: 70vh;
        width: 100%;
    }
        #circleRow{
            margin-bottom: 3vh;
        }   
        
            #circle{
                padding-top: 2.2vh;
                height: 18vh;
                width:  5vh;
                margin-top: 1.5vh;
                margin-bottom: 1.5vh;
                border-right: white 0.5px solid;
                margin-right: 0.3472222222222222vh;
                border-radius: 50%;
            }
        
            .icon{
                // background-color: white;
                // border-radius: 50%;
                width: 5.7833333333333335vh;
                height: 5.7833333333333335vh;
            }
                    
            span{
                margin-left: 1vh;
                font-family: 'SDSamliphopangche_Outline';
                font-size: 3vh;
            }
        
            h4{
                margin-top: 2vh;
                font-family: 'IM_Hyemin-Bold';
                font-size: 2.4vh;
            }
}
//물체 사라지는 애니메이션
@keyframes disappear {
    from {
        opacity: 1;
        scale: 1;
      }
      to {
        opacity: 0;
        scale: 0.2;
      }
}     
//물체 다시 나타나는 애니메이션
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.2;
      }
      to {
        opacity: 1;
        scale: 1;
      }
}