


#saturn_menumode{
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 33%;
    right: 3%;
    box-shadow: 5px 5px 15px 15px rgba(255,255,255,0.2);
    background-image: url('/images/saturn-full.jpg');
    background-position: center;
}

#saturn_ring {
    position: absolute;
    top: 15%;
    left: -20%;
    border-radius: 50%; 
    width: 350px;
    height: 200px;
    background: radial-gradient(
    rgba(24,19,25,0) 0%,
    rgba(53,52,51,0) 52%,
    rgba(113,99,89,1)  52%,
    rgba(113,98,93,1) 53%,
    rgba(113,98,93,1) 54%,
    rgba(242, 210, 189,1) 55%,
    rgba(245, 211, 189,1) 56%,
    rgba(113,99,89,1) 58%,
    rgba(150, 121, 105,1) 59%,
    rgba(242, 210, 189,1) 60%,
    rgba(65,64,70,1) 61%,
    rgba(122,115,105,1) 62%,
    rgba(113,98,93,1) 63%,
    rgba(113,98,93,1) 64%,
    rgba(122,115,105,1) 65%,
    rgba(106,99,89,1) 66%,
    rgba(78,73,72,1) 67%,
    rgba(106,99,89,1) 68%,
    rgba(78,73,71,1) 69%,
    rgba(95,94,89,1) 70%,
    rgba(24,19,25,0) 80%,
    rgba(24,19,25,0) 100%);
}

#saturn_top{
    position: absolute;
    width: 250px;
    height: 125px;
    border-radius: 250px 250px 0 0;
    box-shadow: 
    inset 70px 0px 60px -40px rgba(0,0,0,0.9),
    inset -60px 0px 40px -20px rgba(255,255,255,0.3);
    background-image: url('/images/saturn-full.jpg');
    background-position: 50% 40.5%;

}

#saturn_bottom{
    position: absolute;
    width: 250px;
    height: 125px;
    top: 50%;
    border-radius: 0 0 250px 250px;
    box-shadow:
    inset 70px 0px 60px -40px rgba(0,0,0,0.9),
    inset -60px 0px 40px -20px rgba(255,255,255,0.3);
    background-image: url('/images/saturn-full.jpg');
    background-position: 50% 50%;

}
