
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#saturn_menumode{
    position: absolute;
    border-radius: 50%;
    background-color:black;
    width: 17.36111111111111vw;
    height: 17.36111111111111vw;
    right: 3%;
    box-shadow: 0.3472222222222222vw 0.3472222222222222vw  1.0416666666666667vw 0.3472222222222222vw rgba(255,255,255,0.08);
    @media (max-width: 575px){
        //모바일 세로
        top: 83vw;
    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 19vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 14vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 53vw;
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 29vw;
    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 18vw;
    }
}

#saturn_ring{
    position: absolute;
    top: 15%;
    left: -20%;
    border-radius: 50%; 
    width: 24.305555555555557vw;
    height: 13.88888888888889vw;
    background: radial-gradient(
    rgba(24,19,25,0) 0%,
    rgba(53,52,51,0) 52%,
    rgba(113,99,89,1)  52%,
    rgba(113,98,93,1) 53%,
    rgba(113,98,93,1) 54%,
    rgba(242, 210, 189,1) 55%,
    rgba(245, 211, 189,1) 56%,
    rgba(113,99,89,1) 58%,
    rgba(150, 121, 105,1) 59%,
    rgba(242, 210, 189,1) 60%,
    rgba(65,64,70,1) 61%,
    rgba(122,115,105,1) 62%,
    rgba(113,98,93,1) 63%,
    rgba(113,98,93,1) 64%,
    rgba(122,115,105,1) 65%,
    rgba(106,99,89,1) 66%,
    rgba(78,73,72,1) 67%,
    rgba(106,99,89,1) 68%,
    rgba(78,73,71,1) 69%,
    rgba(95,94,89,1) 70%,
    rgba(24,19,25,0) 80%,
    rgba(24,19,25,0) 100%);
}


#saturn_top{
    position: absolute;
    width: 17.36111111111111vw;
    height: 8.680555555555555vw;
    border-radius: 17.36111111111111vw 17.36111111111111vw 0 0;
    background-repeat: no-repeat;

    @media (max-width: 575px){
        //모바일 세로
        background-image: url('/images/saturn-mobile.png');
        background-position-y: 0vw;
        background-position-x: -1.3vw;

    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        background-image: url('/images/saturn.png');
        background-position-y: 0vw;
        background-position-x: -9.5vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        background-image: url('/images/saturn.png');

    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        background-image: url('/images/saturn.png');
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        background-image: url('/images/saturn.png');
    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
       background-image: url('/images/saturn.png');
       background-position-y: 0vw;
       background-position-x: 0vw;
    }
}

#saturn_bottom{
    position: absolute;
    width: 17.36111111111111vw;
    height: 8.680555555555555vw;
    border-radius: 0 0 17.36111111111111vw 17.36111111111111vw;
    background-repeat: no-repeat;


    @media (max-width: 575px){
        //모바일 세로
        top: 50%;
        background-image: url('/images/saturn-mobile.png');
        background-position-y: -8.680555555555555vw;
        background-position-x: -1.3vw;
    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 50%;
        background-image: url('/images/saturn.png');
        background-position-y: -8.680555555555555vw;
        background-position-x: -9.5vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 12vw;
        top: 50%;
        background-image: url('/images/saturn.png');
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 50%;
        background-image: url('/images/saturn.png');
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 50%;
        background-image: url('/images/saturn.png');
    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 50%;
        background-image: url('/images/saturn.png');
        background-position-y: -8.680555555555555vw;
        background-position-x: 0vw;
    }
}



#saturn_menumode:hover{
    transform: scale(1.08);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: #8f8787;
    font-size: 22px;
    font-weight: bold;
    padding-top: 1.5%;
    margin-top: 1%;
    visibility: hidden;
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: visible;
    }
}
    .p{
        font-size: 16px;
        
    }

    #Modal{
        font-family: 'SDSamliphopangche_Outline';
        color: black;
        text-align: center;
        justify-content: center;
    }
    
        .Modal_Header{
           font-size: 20px;
           background-color: black;
           color: white;
           border: #8f8787 2px solid;
        }
    
        .Modal_Title{
            font-size: 30px;
            
        }
     
        .Modal_Body{
           background-color: black;
           color: white;
           border: #8f8787 1px solid;
    
        }
    