@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//태양 디자인
#sun_menumode{
    position: absolute;
    border-radius: 50%;
    background-image: url('/images/sunshot.jpg');
    background-position: center;
    background-image: 100%;
    right: 89%;
    box-shadow: inset 2.0833333333333335vw 0 2.7777777777777777vw 0.20833333333333334vw rgba(0,0,0,0.9),
    inset -0.6944444444444444vw 0 0.2777777777777778vw 0.06944444444444445vw rgba(255,255,255,0.3),
    inset 0 0 0.3472222222222222vw 6.25vw rgba(255,200,0,0.4),
    0 0 3.4722222222222223vw 3.4722222222222223vw rgba(255,0,0,0.3);

    //태양 디바이스별로 크기 및 위치 조정
    @media (max-width: 575px){
        //모바일 세로
        top: 65vw;
        width: 31.25vw;
        height: 52.083333333333336vw;
    }
    
    @media (min-width: 576px) and (max-width: 767px){
        //모바일 가로
        top: 12vw;
        width: 25vw;
        height: 32vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        // 큰 모바일 가로
        top: 7vw;
        width: 30vw;
        height: 30vw;
    }

    @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        // 테블릿 세로
        top: 40vw;
        width: 35vw;
        height: 42vw;
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        top: 17vw;
        width: 35vw;
        height: 42vw;
    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        top: 0;
        width: 31.25vw;
        height: 52.083333333333336vw;
    }
}

//태양 애니메이션 페이지
#sun_menumode[pagenumber="1"]{
    animation: disappear 2s 1;

}

#sun_menumode[pagenumber="-1"]{
    animation: appear 3s 1;

}
//마우스 올리면 크기 크게
#sun_menumode:hover {
    transform: scale(1.15);
    transition: transform 2s;
    cursor: pointer;
}

//태양 클릭시 메뉴
#Offcanvas{
    position: fixed;
    color: white;
    background-color: black;
    text-align: center;
    min-height: 100vh;
    @media (min-width:1200px){
        width: 40vw;
    }
    @media (max-width:1199px) {
        width: 80vw;
    }
    margin: 0;
}
    .Offcanvas_Header{
        text-align: right;
        justify-content: right;
    }

    .Offcanvas_Title{
        text-align: center;
        margin: 3.045066991473812vh;
        font-size:  2.43605359317905vh;
    }

    .Offcanvas_Title:after{
        content: "";
        @media (min-width:1200px){
            display: block;
        }
        margin-top: 1.218026796589525vh;
        width: 0%;
        border-bottom: 0.6090133982947625vh solid transparent;
        border-image: linear-gradient(to right, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
        border-image-slice: 1;
        text-align: center;
        transition: all 0.5s ease;
    }

    .Offcanvas_Title:hover{
        transform: scale(1.15);
        font-weight: bold;
    }

    .Offcanvas_Title:hover:after{
        width: 100%;
    }

    
//태양 tooltip
#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: red;
    font-size: 3.6540803897685747vh;
    font-weight: bold;
    padding-left: 5%;
    visibility: hidden;
    
    //모바일에서는 안보이게
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: visible;
    }

}
    .p{
        font-size: 2.192448233861145vh;
    }
   

//물체 사라지는 애니메이션
@keyframes disappear {
    from {
        opacity: 1;
        scale: 1;
      }
      to {
        opacity: 0;
        scale: 0.2;
      }
}     
//물체 다시 나타나는 애니메이션
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.2;
      }
      to {
        opacity: 1;
        scale: 1;
      }
}