@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#venus_menumode{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 42%;
    right: 73%;
    box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.15),
    inset 30px 0 40px 3px rgba(0,0,0,0.9),
    inset -10px 0 4px 1px rgba(255,255,255,0.3);
    background-image: url('/images/venus-180.jpg');
    background-position: center;

}

#venus_menumode:hover{
    transform: scale(1.15);
    transition: transform 2s;
}

#Tooltip {
    font-family: 'SDSamliphopangche_Outline';
    position: fixed;
    display: inline-block;
    border-radius: 10%;
    background-color: goldenrod;
    font-size: 22px;
    font-weight: bold;
    padding-top: 1.5%;
    margin-top: 1%;
}
    .p{
        font-size: 16px;
        
    }

    #Modal{
        font-family: 'SDSamliphopangche_Outline';
        color: black;
        text-align: center;
        justify-content: center;
    }
    
        .Modal_Header{
           font-size: 20px;
           background-color: black;
           color: white;
           border: goldenrod 2px solid;
        }
    
        .Modal_Title{
            font-size: 30px;
            
        }
     
        .Modal_Body{
           background-color: black;
           color: white;
           border: goldenrod 1px solid;
    
        }
    
    #Carousel{
        height: 500px;
    }
    
    #aboutMesecond{
        height: 150px;
        border: white 1px solid;
        margin-right: 5px;
        border-radius: 35%;
    
    }
        .icon_Row{
            margin-top: 5px;
            height: 40%;
        }
    
        .text_Row{
            font-size: 20px;
            height: 60%;
            text-align: center;
            justify-content: center;
        }
    
        .text_Row_email{
            font-size: 18px;
            height: 60%;
            text-align: center;
            justify-content: center;
            
        }
        
    .icon{
        fill:white;
    }
        .iconLeft{
            text-align: right;
        }
    
        .iconRight{
            font-size: 22px;
            text-align: left;
            margin-left: -15px;
        }
    
        .iconLeft_three{
            text-align: right;
            flex: 45%
        }
        .iconRight_three{
            font-size: 22px;
            text-align: left;
            margin-left: -15px;
            flex:55%
        }
    
.timeline {
    list-style-type: none;
    position: relative;
    margin-left: 6%;
    font-size: 18px;
    padding-top: 3%;
}
        
    .timeline:before {
        content: "";
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 50%;
        width: 5px;
        height: 90%;
        border-radius: 1em;
    }

    
.timeline_Rowedu{
    margin-bottom: 12%;
}
    .timeline_Rowedu:before{
        content: ' ';
        background: black;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #9cd3d3;
        left: 49%;
        width: 20px;
        height: 20px;
    }

.timeline_Rowother{
    margin-bottom: 12%;
}
    .timeline_Rowother:before{
        content: ' ';
        background: black;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #ffcab0;
        left: 49%;
        width: 20px;
        height: 20px;
    }
        

.timelineitem{
    text-align: center;
}

.timelinedate{
    text-align: left;
    margin-left: 10%;
}

p{
    font-size: 15px;
}

.h3_education{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #9cd3d3;
    text-underline-position:under;
}

.h3_others{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffcab0;
    text-underline-position:under;
}