#sun_animode, #mercury_animode{
    position: fixed;
    margin-top: -50px;
    margin-left: -100px;
    border-radius: 50%;
}



#sun_animode{
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    box-shadow: inset 30px 0 40px 3px rgba(0,0,0,0.9),
    inset -10px 0 4px 1px rgba(255,255,255,0.3),
    inset 0 0 5px 90px rgba(255,200,0,0.4),
    0 0 50px 30px rgba(255,0,0,0.3);
    background-image: url('../images/sunshot.jpg');
    animation-name: planet;
    animation-duration: 25s ;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-delay: 0s;
    animation-timing-function: linear;
    transition: transform .2s; 
    
}

#sun_animode:hover{
    animation-name: planet;
    animation-duration: 25s ;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-delay: 0s;
    animation-timing-function: linear;
}

#mercury_animode{
    z-index: 9;
    width: 35px;
    height: 35px;
    top: 58%;
    left: 54%;
    box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0, 0.5),
    inset -3px 0 5px 2px rgba(0,0,0,0.4);
    background-image: url('../images/mercuryshot.jpg');
    animation-name: planet, orbit-animation;
    animation-duration: 25s, 10s ;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-delay: 0s;
    animation-timing-function: linear, linear;
    transition: transform .2s; 
    //transform-style: preserve-3d;

}

#mercury_animode:hover{
    transform: scale(1.15);
}



@keyframes planet {
    
    0%{
        background-position-x: 0;
        background-position-y: 100%;
        transform: rotateZ(0deg);

    }
    50%{
        background-position-x: 100%;
        background-position-y: 0;
    }
   100%{
        background-position-x: 0;
        background-position-y: 100%;
        transform: rotateZ(360deg);
   }
}

@keyframes move{
    0%   { left: 43%;  }

    100% { left: 60%;  }
}

@keyframes orbit-animation {

    0% {
        transform: rotateZ(0deg); }
    
    100% {
        transform: rotateZ(-360deg); } 

    // 0% {
    //     transform: perspective(200px) translate3d(-200px, 0px, 0px);
        
    // }

    // 25%{
    //     transform: perspective(200px)  translate3d(0px, 100px, 50px);
    // }

    // 50%{
    //     transform: perspective(200px) translate3d(200px, 0px, 0px);
    //     z-index: 0;
    // }

    // 75%{
    //     transform: perspective(200px) translate3d(0px, -100px, -50px);
    //     z-index: 0;
    // }

    // 100% {
    //     transform: perspective(200px) translate3d(-200px, 0px, 0px);
    //     z-index: 0;
    // }



    // from { transform: rotate(0deg) translateX(130px) rotate(0deg); }
    // to   { transform: rotate(360deg) translateX(130px) rotate(-360deg); }
}
