@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    //position: absolute;
    display: inline-block;
    background-color: black;
    color: white;
    font-family: '양진체';
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
   // overflow-y: hidden;
}

body::-webkit-scrollbar{
    display: none;
}


//배경 별 만드는 function
@function generate_star($number){
    $x : random($number);
    $y : random($number);
    $color: white;
    $star : #{$x}px #{$y}px $color;
    @for $i from 3 through 200{
        $x: random($number);
        $y: random($number);
        $star: #{$star}, #{$x}px #{$y}px $color;
    }
   @return $star;
}

//스크린 사이즈를 이용해서 랜덤으로 별 위치 정하기
@mixin stars($number,$delay){
    width: 2px;
    height: 2px;
    box-shadow: generate_star($number);
    background-color: white;
    border-radius: 50%;
    animation-name: glow;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-delay: $delay + s;
}

#star1{

    @include stars(2000, 0.2);
}
#star2{

    @include stars(2000, 0.4);
}
#star3{

    @include stars(2000,0.6);
}
#star4{

    @include stars(2000, 0);
}

//반짝반짝 애니메이션
@keyframes glow {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

//메뉴/애니메이션 스위치
.switch{
    position: fixed;
    margin-left: 45%;
    font-size: 1.8270401948842874vh;
}


#desktopmode{
    visibility: hidden;
}

//모바일에서만 우주선 보이게
#mobilemode{
    //border: 2px solid white;
    transform: rotate(45deg);
    text-align: center;
    justify-content: center;
    @media (max-width: 767px){
        visibility: visible;
        @media (orientation:portrait){
            width: 50px;
            height: 50px;
            margin-top: 61vw;
            margin-left: 3.5vw;
        }
        @media (orientation:landscape){
            width: 50px;
            height: 50px;
            margin-top: 10vw;
            margin-left: 4.5vw;
        }
    }

    @media (min-width: 768px) and (max-width: 991px){
        visibility: visible;
        @media (orientation:landscape){
            //큰 모바일 가로
            width: 50px;
            height: 50px;
            margin-top: 5vw;
            margin-left: 6vw;
        }

        @media (orientation:portrait){
            //태블릿 세로
            width: 80px;
            height: 80px;
            margin-top: 40vw;
            margin-left: 6vw;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        // 테블릿 가로
        width: 80px;
        height: 80px;
        margin-top: 17vw;
        margin-left: 5vw;
    }
    
    @media (min-width: 1200px) {
        // 데스크탑 일반
        visibility: hidden;

    }
}

//우주인헬멧 아이콘
.introicon{
    fill: white;
    
    @media (orientation:portrait){
        width: 6vw;
        height: 6vw;
    }
    @media (orientation:landscape){
        width: 4vw;
        height: 4vw;
    }
}

//우주선 위에 menu
.h5_intro{

    @media (orientation:portrait){
        font-size: 2vw;


    }
    @media (orientation:landscape){
        font-size: 1.5vw;


    }
  
}
//버튼, 더보기 div
#more1{
    position: fixed;
    width: 15vw;
    height: 5vw;
    left: 70%;
    top: 70%;
    animation-name: arrow1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

//h3 (오른쪽)
.click1{
    font-size: 1.3vw;
    justify-content: center;
    text-align: center;
}


//버튼 (오른쪽)
.nextpageButton1{
    width: 4.4722222222222223vw;
    height: 4.4722222222222223vw;
}
//버튼 (왼쪽)
.nextpageButton2{
    position:fixed;
    left: 20%;
    top: 70%;
    width: 4.4722222222222223vw;
    height: 4.4722222222222223vw;
    animation-name: arrow;
    animation-direction: normal;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

//버튼 애니메이션 (오른쪽)
@keyframes arrow1 {
    0% {
        left: 73%;
      }
      50% {
        left: 75%;     
      }
      100%{
        left: 73%;
      }
}
//버튼 애니메이션 (왼쪽)
@keyframes arrow2 {
    0% {
        left: 0;
      }
      50% { 
        left: calc(80% - 200px); 
       }
      100% {
        left: 0;     
      }
}