@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
   // position: fixed;
    display: inline-block;
    background-color: black;
    color: white;
    font-family: '양진체';
    min-width: 130vw;
    margin: 0;
   // overflow: hidden;
   // touch-action: none;
}

// #viewer{
//     width: 100vw;
//     max-width: 580px;
//     height: 100vh;
//     overflow: hidden;
//     margin: 0 auto;
// }

//배경 별 만드는 function
@function generate_star($number){
    $x : random($number);
    $y : random($number);
    $color: white;
    $star : #{$x}px #{$y}px $color;
    @for $i from 3 through 200{
        $x: random($number);
        $y: random($number);
        $star: #{$star}, #{$x}px #{$y}px $color;
    }
   @return $star;
}

//스크린 사이즈를 이용해서 랜덤으로 별 위치 정하기
@mixin stars($number,$delay){
    width: 2px;
    height: 2px;
    box-shadow: generate_star($number);
    //top: generate_star($number);
    //left: generate_star($number);
    background-color: white;
    border-radius: 50%;
    animation-name: glow;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-delay: $delay + s;
}

#star1{
    @include stars(1920, 0.2);
}
#star2{
    @include stars(1920, 0.4);
}
#star3{
    @include stars(1920,0.6);
}
#star4{
    @include stars(1920, 0);
}

//반짝반짝 애니메이션
@keyframes glow {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

//메뉴/애니메이션 스위치
.switch{
    margin-left: 50%;
    font-size: 1.8270401948842874vh;
}

// .h5_ani{
//     margin-left: 49.5%;
//     margin-top: 0.5%;

// }

// //"여기를 클릭해보세요"
// .h5_menu{
//     margin-left: -5%;
//     margin-top: 0.5%;
//     font-size: 1.6vh;
// }

// //화살표 아이콘
// .menuicon{
//     margin-top: 1vw;
//     fill:white;
//     font-size: 5vh;
//     width: 1.8vh;
//     height: 1.8vh;
// }

// .aniicon{
//     margin-left: 53%;
//     margin-top: 2%;
//     fill:white;
// }

#desktopmode{
    visibility: hidden;
}

//모바일에서만 우주선 보이게
#mobilemode{
    @media (max-width: 1199px){
        visibility: visible;
        @media (orientation:portrait){
            margin-top: 52vw;
        }
        @media (orientation:landscape){
            margin-top: 8%;
            margin-left: -20%;
        }
    }
    @media (min-width: 1200px){
        visibility: hidden;
    }
}

//우주선 아이콘
.introicon{
    fill: white;
    transform: rotate(45deg);
    
    @media (orientation:portrait){
        width: 6vw;
        height: 6vw;
    }
    @media (orientation:landscape){
        width: 4vw;
        height: 4vw;
    }
}

//우주선 위에 menu
.h5_intro{
    transform: rotate(45deg);
 

    @media (orientation:portrait){
        font-size: 2vw;
        margin-top: 11vw;
        margin-left: -5vw;

    }
    @media (orientation:landscape){
        font-size: 1.5vw;
        margin-top: 24%;
        margin-left: -10%;

    }
  
}
